<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/head.html')%>

  <link rel="stylesheet" href="/css/redes.css">
  <title>Redes Sociales</title>
</head>
<body>
  <!--HEADER-->
  <%- include('partials/nav.html')%>
<!--CONTENT-->
<div class="container">
  <div class="row">
    <div class="col-sm-5 col-md-12">
      <h1 class="header mt-4">Redes Sociales</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-12 mt-3">
      <p>Uno de los cambios más notorios y que traen a estos personajes que venían de los años 70 y los ubica en el año 2020, es el uso de la narrativa transmedia. De esta manera, los personajes tomarían un papel activo en las redes sociales para interactuar con los seguidores de #Lurelia. Estas interacciones se publicarían en sintonía con la emisión de capítulos cada domingo. Ambos personajes principales contarían con cuentas en Twitter e Instagram. <br><br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-12">
      <p class="text text-center">Abajo te dejamos un enlace directo a sus perfiles.</p>
    </div>
  </div>
</div>
  
  <!--IMÁGENES-->
  <div class="container mb-3 my-auto">
    <div class="row w-100 h-100 d-flex align-items-center justify-content-around">
      <div class="col-sm-5 d-flex align-content-center justify-content-center mt-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top img-fluid" width="18rem" height="18rem" src="img/instaluisi.jpg" alt="Luisita, imagen de Instagram" >
          <div class="card-body d-flex justify-content-around align-items-center">
            <a class="btn btn-primary" href="https://www.instagram.com/luisitagomezs/" role="button"><i class="fab fa-instagram"></i> Instagram</a>
            <a class="btn btn-primary" href="https://twitter.com/luisitagomezs?lang=es" role="button"><i class="fab fa-twitter"></i> Twitter</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5 d-flex align-content-center justify-content-center mt-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top img-fluid" width="18rem" height="18rem" src="/img/instamelia.jpg" alt="Amelia, imagen de Instagram">
          <div class="card-body d-flex justify-content-around align-items-center">
            <a class="btn btn-primary" href="https://www.instagram.com/amelialedesmaof/" role="button"><i class="fab fa-instagram"></i> Instagram</a>
            <a class="btn btn-primary" href="https://twitter.com/AmeliaLedesmaOf" role="button"><i class="fab fa-twitter"></i> Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </div>



<!--FOOTER-->
  <%- include('partials/footer.html')%>
</body>
</html>