<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/temp.css">
  <%- include('partials/head.html')%>

  <title>Temporada 2</title>
</head>
<body>
  <!--NAVBAR-->
  <%- include('partials/nav.html')%>

  <!--CONTENT-->

  <div class="container">
    <div class="row mt-4">
      <div-col>
        <h1>Temporada 2</h1>
      </div-col>
    </div>
    <div class="row">
      <div class="col-sm-6 d-flex align-content-center justify-content-center my-auto">
        <p>Ubicada en la ciudad de Madrid, este <em>spin-off</em> resume cómo encontrarían el amor Luisa Gómez y Amelia Ledesma en pleno siglo XXI, donde las apps para ligar y las citas rápidas son muy comunes. Aún manteniendo la esencia de sus personajes, aparece una Luisita un poco más retraída para esta onda de ligue, pero con sus convicciones muy claras. Por su parte, Amelia está coladísima por Maru (<a href="https://es.wikipedia.org/wiki/Lena_Fern%C3%A1ndez">Lena Fernandez</a> una chica que no se anda con muchos rodeos para pasar la noche con alguien. Así, acompañadas por María Gómez (<a href="https://es.wikipedia.org/wiki/Luc%C3%ADa_Mart%C3%ADn_Abello">Lucía Martín Abello</a> e Ignacio "Nacho" Solano (<a href="https://es.wikipedia.org/wiki/Jon%C3%A1s_Berami">Jonas Berami</a> veremos como evoluciona la historia entre ellas. ¡Aquí te dejamos el tráiler!</p>
      </div>
      <div class="col-sm-6 d-flex align-content-center justify-content-center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/AI192LUKuPE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

    <!--CAPÍTULOS-->
  <div class="container mb-3">
    <div class="row">
      <div class="col-sm-10 mb-4">
        <h2>Capítulos</h2>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-sm-12">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <!--CAP 1-->
          <div class="accordion-item">
            <h3 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              1: Luisita y Amelia.
              </button>
            </h3>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-5 d-flex align-content-center justify-content-center my-auto">
                      <p>En este primer capítulo descubrimos qué pasó con las chicas y cómo lo resolvieron. Deciden romper la cuarta pared y hablarle al espectador y contarnos toda la experiencia de volver con tu ex y cómo sobrellevar las diferencias.</p>
                    </div>
                    <div class="col-sm-6 d-flex align-content-center justify-content-center my-auto mx-auto">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/wTTEUqtWdc8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--CAP 2-->
          <div class="accordion-item">
            <h3 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">2: "Improesía"
              </button>
            </h3>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-5 d-flex align-content-center justify-content-center my-auto">
                      <p>En este capítulo vemos desde el punto de vista de ambas, los nervios por la primera cita, la ansiedad, ese salseo antes de salir con alguien y averiguar un poco de cómo es a través de las redes pudiendo coincidir o no, con su verdadera forma de ser. Además aparecen nuevamente María e Ignacio, quiénes también coinciden y se llevan de maravilla.</p>
                    </div>
                    <div class="col-sm-6 d-flex align-content-center justify-content-center my-auto mx-auto">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/3haV0UkwIBY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--CAP 3-->
          <div class="accordion-item">
            <h3 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">3: #BoicotLurelia.
              </button>
            </h3>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-5 d-flex align-content-center justify-content-center my-auto">
                      <p>Luisita se obsesiona con la nueva pareja de "Amar Eternamente" al punto de indagar en las redes sociales y crear un <em>hashtag</em> acerca de la pareja, a lo que Amelia le comenta que debe tomarse esto con más calma. Adicionalmente tocan el tema de la censura de las parejas homosexuales en las telenovelas.</p>
                    </div>
                    <div class="col-sm-6 d-flex align-content-center justify-content-center my-auto mx-auto">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/uOHTb0ErUJ4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--CAP 4-->
          <div class="accordion-item">
            <h3 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">4: Kamchatka.
              </button>
            </h3>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-5 d-flex align-content-center justify-content-center my-auto">
                      <p>Luisita y Amelia discuten acerca de la importancia de la visibilidad, continuar la lucha por los derechos de las mujeres y cómo la discriminación afecta a Amelia a nivel laboral.</p>
                    </div>
                    <div class="col-sm-6 d-flex align-content-center justify-content-center my-auto mx-auto">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/VzFgH3LRz8A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--CAP 5-->
          <div class="accordion-item">
            <h3 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">5: Madrid.
              </button>
            </h3>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-5 d-flex align-content-center justify-content-center my-auto">
                      <p>Luisita se obsesiona con la nueva pareja de "Amar Eternamente" al punto de indagar en las redes sociales y crear un <em>hashtag</em> acerca de la pareja, a lo que Amelia le comenta que debe tomarse esto con más calma. Adicionalmente tocan el tema de la censura de las parejas homosexuales en las telenovelas.</p>
                    </div>
                    <div class="col-sm-6 d-flex align-content-center justify-content-center my-auto mx-auto">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/61MsOMY18nA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--CAP 6-->
          <div class="accordion-item">
            <h3 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">6: Algo pasa con Mary.
              </button>
            </h3>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-5 d-flex align-content-center justify-content-center my-auto">
                      <p>En el capítulo final, Luisita y Amelia se reúnen en el departamento de Luisita para entregarle a Amelia una caja con sus cosas. Debido a que Amelia está enferma y no puede volver a casa, Lusitia la invita a quedarse para no correr el riesgo de que empeore. Esto llevará a las chicas a revivir sus momentos como pareja y plantearse si realmente fue una buena decisión acabar la relación, dejando la respuesta a esa pregunta al aire con un final abierto.</p>
                    </div>
                    <div class="col-sm-6 d-flex align-content-center justify-content-center my-auto mx-auto">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/60qG_6OReIs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--FOOTER-->
  <%- include('partials/footer.html')%>
</body>
</html>